*.exe
*.log
src/Python2.6.2c1/*
src/SSRLab/*
src/sc-core/*
src/suit/*
src/system/*
!src/system/repo/
src/system/repo/*
!src/system/repo/rule_builder.py
!src/system/repo/repoBuilder
!src/system/repo/fs_repo_src/
src/system/repo/fs_repo_src/*
!src/system/repo/fs_repo_src/seb/
src/system/repo/fs_repo_src/seb/*
!src/system/repo/fs_repo_src/seb/planimetry_src/
src/system/repo/fs_repo_src/seb/planimetry_src/*
!src/system/repo/fs_repo_src/seb/planimetry_src/bel_synonims.scsy